
module my-gogs 1.0;

require {
	type gogs_t;
	type user_home_t;
	class tcp_socket { accept listen };
	class dir { add_name create write };
	class file { create open read write };
}

#============= gogs_t ==============

#!!!! This avc is allowed in the current policy
allow gogs_t self:tcp_socket { accept listen };
allow gogs_t user_home_t:dir { add_name create write };
allow gogs_t user_home_t:file { create open read write };
