
module my-gogs 1.0;

require {
	type mysqld_port_t;
	type ntop_port_t;
	type gogs_t;
	type sysctl_net_t;
	type user_home_dir_t;
	type sysfs_t;
	type user_home_t;
	type bin_t;
	class file { create execute execute_no_trans open read write };
	class dir { add_name create getattr open read search write };
	class tcp_socket { accept listen name_bind name_connect };
}

#============= gogs_t ==============

#!!!! This avc is allowed in the current policy
allow gogs_t bin_t:file { execute execute_no_trans };

#!!!! This avc is allowed in the current policy
allow gogs_t mysqld_port_t:tcp_socket name_connect;

#!!!! This avc is allowed in the current policy
allow gogs_t ntop_port_t:tcp_socket name_bind;

#!!!! This avc is allowed in the current policy
allow gogs_t self:tcp_socket { accept listen };

#!!!! This avc is allowed in the current policy
allow gogs_t sysctl_net_t:dir search;

#!!!! This avc is allowed in the current policy
allow gogs_t sysctl_net_t:file { open read };

#!!!! This avc is allowed in the current policy
allow gogs_t sysfs_t:file { open read };

#!!!! This avc is allowed in the current policy
allow gogs_t user_home_dir_t:dir { add_name create getattr search write };

#!!!! This avc is allowed in the current policy
allow gogs_t user_home_t:dir { getattr search };
allow gogs_t user_home_t:dir { add_name create open read write };
allow gogs_t user_home_t:file { create open read write };
