
module my-ls 1.0;

require {
	type gogs_home_t;
	type gogs_log_t;
	type unconfined_t;
	class dir { getattr open read search };
	class file getattr;
}

#============= unconfined_t ==============
allow unconfined_t gogs_home_t:dir { getattr open read search };
allow unconfined_t gogs_home_t:file getattr;
allow unconfined_t gogs_log_t:dir { getattr read };
