
module my-restorecon 1.0;

require {
	type unconfined_t;
	type gogs_log_t;
	class dir { getattr relabelfrom };
}

#============= unconfined_t ==============

#!!!! This avc is allowed in the current policy
allow unconfined_t gogs_log_t:dir getattr;
allow unconfined_t gogs_log_t:dir relabelfrom;
